@page {
    size: A4;
    margin: 20mm; /* Margini della pagina */
}

body {
    font-family: "Palatino Linotype", sans-serif;
    font-size: 12pt;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altezza della finestra per il centramento verticale */
}

.A4 {
    width: 210mm; /* Larghezza A4 */
    height: 297mm; /* Altezza A4 */
    padding: 20mm; /* Margini interni */
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #ffffff; /* Mantiene il bordo bianco */
    /* Rimosso box-shadow per eliminare la vignettatura */
}

p {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: justify; /* Giustifica il testo */
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
    text-align: center;
    margin-bottom: 20px;
    
    & > .titolo {
        font-size: 24pt;
        line-height: 30px;
    }

}

h1 {
    font-size: 20pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 20pt;
    margin-bottom: 10px;
}

h3 {
    font-size: 14pt;
    margin-bottom: 10px;
}

h4 {
    font-size: 13pt;
    margin-bottom: 10px;
}

.chapter {
    margin-top: 20px;
}

footer {
    font-size: 0.9em;
    color: #000000;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
}

[contenteditable="true"] {
    border-bottom: 1px dashed #ffffff;
    padding: 2px 5px;
    outline: none;
}

[contenteditable="true"]:focus {
    background-color: #ffffff;
}

/* Stili per la stampa */
@media print {
    body {
        display: block; /* Disabilita il flexbox durante la stampa */
        margin: 0; /* Rimuove margini esterni */
        padding: 0; /* Rimuove padding */
        width: auto; /* Imposta la larghezza automatica per la stampa */
        height: auto; /* Imposta l'altezza automatica per la stampa */
        background-color: #ffffff; /* Colore di sfondo per la stampa */
    }

    .container {
        width: 210mm; /* Larghezza A4 per la stampa */
        height: 297mm; /* Altezza A4 per la stampa */
        padding: 20mm; /* Margini interni per la stampa */
        border: none; /* Rimuove il bordo */
        box-shadow: none; /* Rimuove l'ombra */
    }
}
